<script type='text/javascript'>
  function addFields(){
    // Container <div> where dynamic content will be placed
    var container = document.getElementById("video_input_fields");
    // Append a node with a random text
    container.appendChild(document.createTextNode("Video:"));
    // Create an <input> element, set its type and name attributes
    var input = document.createElement("input");
    input.type = "file";
    input.name = "video_files[]";
    container.appendChild(input);
  }
</script>
<%= flash[:error] %>
<%= flash[:notice] %>
<form id="video_form" enctype="multipart/form-data" method="post" action="/videos/upload">
  <div id="video_input_fields">
    <input type="file" name="video_files[]" /><br />
  </div>
  <p>Title: <input type="text" name="video[title]" /></p>
  <p>Description: <input type="text" name="video[description]" /></p>
  <p>Thumbnail: <input type="file" name="video[thumbnail]" /></p>
  <input type="submit" value="Upload" />
  <input type="button" value="Add file" onclick="addFields()" />
</form>
