<%= flash[:error] %>
<%= flash[:notice] %>
<form enctype="multipart/form-data" method="post" action="/videos/upload">
  <p>Video: <input type="file" name="video" /></p>
  <p>Title: <input type="text" name="title" /></p>
  <p>Description: <input type="text" name="description" /></p>
  <p>Tags: <input type="text" name="tags" /></p>
  <input type="submit" value="Upload" />
</form>
