<%= flash[:error] %>
<%= flash[:notice] %>
<form enctype="multipart/form-data" method="post" action="/videos/upload">
  <input type="file" name="video" /> <br />
  <input type="text" name="title" /><br />
  <input type="text" name="tags" /> <br />
  <input type="submit" value="Upload" /> <br />
</form>
